* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ec008c;
  height: 60px;
  width: 100%;
}

header nav a.logo {
  display: inline-block;
  height: 60px;
}

header nav a.logo img {
  display: none;
}

header nav a.logo svg {
  height: 60px;
  width: 98px;
}

header nav ul {
  background-color: #ffffff;
  list-style: none;
  margin: 0;
  margin-left: -80%;
  margin-top: -4px;
  padding: 0;
  position: relative;
  transition: margin-left .5s;
  width: 0;
}

header nav ul.visible {
  display: block;
  margin-left: 0;
  width: 80%;
}

section.hero {
  background-image: url("../images/background-image.jpg");
  height: 90vh;
  transition: margin-left .5s;
}
