* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ec008c;
  height: 60px;
  width: 100%;
}

header a.logo {
  display: inline-block;
  height: 60px;
  width: 100%;
  margin-left: -80%;
  position: relative;
  transition: margin-left .5s;
}

header a.logo.toggle {
  margin-left: 0;
}

header a.logo img {
  width: 60px;
  display: inline-block;
  left: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header a.logo svg {
  height: 60px;
  position: absolute;
  right: 0;
  width: 60px;
}

header nav ul.menu {
  background-color: #ffffff;
  height: 100vh;
  list-style: none;
  margin: 0;
  margin-left: -80%;
  margin-top: -4px;
  padding: 0;
  position: relative;
  transition: margin-left .5s;
  width: 80%;
}

header nav ul.menu.toggle {
  margin-left: 0;
}

section.hero {
  background-image: url("../images/background-image.jpg");
  height: 90vh;
  transition: margin-left .5s;
}
